---
layout: kybook
title: Media
images_iphone:
  - { file: v198/iphone4_shelf.png, title: Bookshelf }
  - { file: v198/iphone4_text1.png, title: Book }
  - { file: v198/iphone4_text2.png, title: Book (Dark Theme) }
  - { file: v198/iphone4_sidebar.png, title: Sidebar }
  - { file: v198/iphone4_home.png, title: Home }

images_ipad:
  - { file: v198/ipad_shelf.png, title: Bookshelf }
  - { file: v198/ipad_text1.png, title: Book }
  - { file: v198/ipad_text2.png, title: Book (Dark Theme) }
  - { file: v198/ipad_sidebar.png, title: Sidebar }
  - { file: v198/ipad_home.png, title: Home }  
  
  
---

<div class="hero-unit">
    <h1>Media</h1>    
    <!-- <p class="lead">Look at images and videos</p> 
    <p>
    <a href="#">-</a>
    </p>
     --> 
</div>

<div class="container-fluid">
    
    <div class="row-fluid">    
    	
    	<div class="span10">
    
		<h3 id="images">iPhone</h3>

        <ul class="thumbnails">

        {% for image in page.images_iphone %}
            
            <li class="span3">
            <div class="thumbnail"> 
            <!-- <a href="../assets/kybook/images/{{ image.file }}" target="_blank" class="thumbnail"> -->
            <a href="#"  onclick="showModalImage('{{ image.file }}', '{{image.title}}');">
            <img src="../assets/kybook/thumbs/{{ image.file }}">
            </a>
            <p>{{image.title}}</p>
            </div>
            </li>   

        {% endfor %}
            
        </ul>


  <h3 id="images">iPad</h3>

        <ul class="thumbnails">

        {% for image in page.images_ipad %}
            
            <li class="span3">
            <div class="thumbnail"> 
            <!-- <a href="../assets/kybook/images/{{ image.file }}" target="_blank" class="thumbnail"> -->
            <a href="#"  onclick="showModalImage('{{ image.file }}', '{{image.title}}');">
            <img src="../assets/kybook/thumbs/{{ image.file }}">
            </a>
            <p>{{image.title}}</p>
            </div>
            </li>   

        {% endfor %}
            
        </ul>        

    <h3>More Screens</h3>
    
    <a href="https://www.dropbox.com/sh/mztebuw4ou72l8l/jrQD3B-t3M#/">KyBook Screens v1.3.3 iPhone iOS7 Ru</a>

		<h3 id="videos">Videos</h3>
 
    	</div>

        <!--
		<div class="span2">    
		<ul class="nav nav-tabs nav-stacked">			
			<li><a href="#images">Images</a></li>		
			<li><a href="#videos">Videos</a></li>				
		</ul>
    	</div>
        -->

    </div>

</div>

<script type="text/javascript" charset="utf-8">

function showModalImage(url, title) {

    $('#modalLabel').text(title);
    $('#modalImage').attr("src", '../assets/kybook/images/' + url);

    var modal = $('#modalView');

    modal.modal({'show':true});

    modal.find('.modal-body').css({width:'auto', height:'auto', 'max-height':'100%'});

    return false;
};


</script>

<!-- Modal -->
<div id="modalView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
<button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
<h3 id="modalLabel"></h3>
</div>
<div class="modal-body">
<img id="modalImage" src="" />
</div>
<!-- 
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
-->
</div>

