---
layout: kybook
title: Support
---

<div class="hero-unit">
	<h1>Support</h1>    
	<p class="lead">Please read FAQ before report about a problem</p>	
    <p>
	<a href="#disqus_thread">Report a problem</a></br />  
    </p>    
</div>

<div>
<h3>Please, read the notice about an issue: 'Unable to open DJVU file after moving'</h3>
<p>
I am sorry for this annoying bug.</br> 
This bug has already been fixed in <strong>v1.0.8.</strong></br>
And I hope the fixed version will be released in App Store within week.
</p>
<p>
For now, there is a next workaround.</br>
<strong>Close and reopen KyBook.</strong></br> 
And after restarting KyBook, the DJVU files will become available for viewing again.
</p>
<p>
Thank you all for choosing KyBook.</br> 
I hope this DJVU issue will not disappoint you too much.
</p>
</div>  

<div class="container-fluid">
    
    <div class="row-fluid">    
    	
    	<div class="span10">
    
		<h3 id="faq">FAQ</h3>

		<ul>
    	{% for post in site.categories.kybook %}
    	{% if post.categories contains 'faq' %}
      	<li> <a href="{{ post.url }}">{{ post.title }}</a> </li>
      	{% endif %}
    	{% endfor %}
  		</ul>
 
    	</div>

		<div class="span2">    		
    <a href="mailto:kybook@kolyvan.com">Contact support</a>
    </div>

    </div>

</div>

<div>

<h3>Report a problem</h3>

<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://kolyvan.com/{{page.url}}";
</script>

<div id="disqus_thread">
</div>

<script type="text/javascript" src="http://disqus.com/forums/kolyvan/embed.js">
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
