---
layout: kybook
title: Support
---

<div class="hero-unit">
	<h1>Support</h1>    
	<p class="lead">Please read FAQ before report about a problem</p>	
    <p>
	<a href="#disqus_thread">Report a problem</a></br />  
    </p>    
</div>

<div class="container-fluid">
    
    <div class="row-fluid">    
    	
    	<div class="span10">
    
    <h3 id="articles">Articles</h3>

    <ul>      
      <li>Рекомендую к прочтению для русских пользователей статью автора Вадима Кузнецова <a href="http://ipadstory.ru/kybook-prodvinutaya-chitalka-bibliotekar.html">KyBook: “продвинутая” читалка-библиотекарь</a>. Статья не столько обзор программы, сколько практическое руководство по тонкостям работы с KyBook.</li>
    </ul>

		<h3 id="faq">FAQ</h3>

		<ul>
    	{% for post in site.categories.kybook %}
    	{% if post.categories contains 'faq' %}
      	<li> <a href="{{ post.url }}">{{ post.title }}</a> </li>
      	{% endif %}
    	{% endfor %}
  		</ul>
 
    	</div>

		<div class="span2">    		
    <a href="mailto:kybook@kolyvan.com">Contact support</a>
    </div>

    </div>

</div>

<div>

<h3>Report a problem</h3>

<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://kolyvan.com/{{page.url}}";
</script>

<div id="disqus_thread">
</div>

<script type="text/javascript" src="http://disqus.com/forums/kolyvan/embed.js">
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
