---
layout: findbook-ru
title: Поддержка
---

<div class="hero-unit">
	<h1>Поддержка</h1>    
  <p />
	<div class="lead">Пожалуйста, прочтите FAQ прежде чем сообщить о проблеме</div>	
  <div>	<a href="#disqus_thread">Сообщить о проблеме</a> </div>    
</div>

<div class="container-fluid">
    
    <div class="row-fluid">    
    	
    	<div class="span10">
    
    <!-- 

    <h3 id="articles">Articles</h3> 

		<h3 id="faq">Часто задаваемые вопросы</h3>

		<ul>
    	{% for post in site.categories.findbook %}
    	{% if post.categories contains 'faq' %}
      	<li> <a href="{{ post.url }}">{{ post.title }}</a> </li>
      	{% endif %}
    	{% endfor %}
  	</ul>

    -->
 
    </div>

		<div class="span2">    		
    <a href="mailto:info@kolyvan.com">Связаться со службой поддержки</a>
    </div>

    </div>

</div>

<div>

<h3>Сообщить о проблеме</h3>

<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://kolyvan.com{{page.url}}";
  //var disqus_url = "http://kolyvan.com/findbook/support.html";
</script>

<div id="disqus_thread">
</div>

<script type="text/javascript" src="http://disqus.com/forums/kolyvan/embed.js">
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
