<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="KyBook Reader for iOS">
        <meta name="keywords" content="kybook, ebook">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="KyBook Reader for iOS">
        <meta name="keywords" content="kybook, ebook">
        <meta name="twitter:card" content="app">
        <meta name="twitter:site" content="@KyBook_App">
        <meta name="twitter:description" content="KyBook is a modern reader application for e-books.">
        <meta name="twitter:app:country" content="RU">
        <meta name="twitter:app:name:iphone" content="KyBook Reader">
        <meta name="twitter:app:id:iphone" content="673027171">
        <meta name="twitter:app:name:ipad" content="KyBook Reader">
        <meta name="twitter:app:id:ipad" content="673027171">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <style>
          body {
            padding-top: 60px;            
          }

        </style>
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    </head>
    <body>
      
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
            <!-- <a class="brand" href="#">{{ site.name }}</a> -->
                <a class="brand" href="/kybook/index.html">KyBook</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">                        
                        {% if page.url == '/kybook/news.html' %}
                        <li class="active"><a href="/kybook/news.html">News</a></li>
                        {% else %}
                        <li ><a href="/kybook/news.html">News</a></li>
                        {% endif %}

                        {% if page.url == '/kybook/news.media' %}
                        <li class="active"><a href="/kybook/media.html">Media</a></li>              
                        {% else %}
                        <li ><a href="/kybook/media.html">Media</a></li>              
                        {% endif %}

                        {% if page.url == '/kybook/plan.html' %}
                        <li class="active"><a href="/kybook/plan.html">Plan</a></li>              
                        {% else %}
                        <li ><a href="/kybook/plan.html">Plan</a></li>              
                        {% endif %} 


                        {% if page.url == '/kybook/beta.html' %}
                        <li class="active"><a href="/kybook/beta.html">Beta</a></li>
                        {% else %}
                        <li ><a href="/kybook/beta.html">Beta</a></li>              
                        {% endif %}                        
                        
                        {% if page.url == '/kybook/support.html' %}
                        <li class="active"><a href="/kybook/support.html">Support</a></li>              
                        {% else %}
                        <li ><a href="/kybook/support.html">Support</a></li>              
                        {% endif %}                        
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    
    {{ content }}
    
    <br />
    <footer>
        
        <p>
        Copyright &copy; 2013 Konstantin Bukreev. &middot;
        Created by <a href='http://github.com/kolyvan' target='_blank'>Kolyvan</a> &middot;
        Hosted by <a href='http://github.com/' target='_blank'>GitHub</a> 
        and powered by <a href='http://github.com/mojombo/jekyll'>Jekyll</a>.
        </p>
    
    </footer>
    
    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    </body>
</html>